@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$color-primary: #292b2c;
$color-secondary: #0275d8;
$color-background: #f6f6f6;
$color-text: #1a252a;
$color-light: #fff;
$color-anchor: #292b2c;
$font-family: "Roboto", sans-serif;
$font-weight-strong: 500;
$font-size-h1: 5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 1.35rem;
$font-size-text: 1.15rem;
$border-radius: 8px;
$box-shadow: 2px 2px 10px #aaa;
$box-shadow-1: 2px 2px 10px rgba(0, 0, 0, 0.6);

// tangina letss goo ilagay lahat ng styling dito hahaha, fck DRY code, uulitin natin lahat ahahaha, tapos isalpak mo nalng sa ilalim yung bago

body {
  color: $color-text;
  font-family: $font-family;
}

.container {
  max-width: 1290px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  padding: 1.5rem 0;
  margin: 1rem 0;
}

// header
.site-header {
  border-bottom: 2px solid $color-primary;
  box-shadow: 2px 2px 10px rgba(170, 170, 170, 0.5);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-branding {
      .site-title {
        a {
          color: $color-primary;
          font-size: $font-size-h3;
          font-size: clamp(2rem, 7vw, $font-size-h3);
          padding: 5px 0.8em;
          border: 0.12em solid $color-primary;
          text-decoration: none;
          box-shadow: 0.1em 0.1em $color-secondary;
          place-content: center;
          letter-spacing: 3px;
        }
      }
    }
    // .nav-container {
    .main-navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      .current-menu-item {
        a {
          display: inline-grid;
          &::after {
            width: 100% !important;
            height: 0.2em;
            background-color: $color-secondary;
            opacity: 1 !important;
            content: "";
            margin: 0 auto;
          }
        }
      }
      .menu-item {
        margin: 0.8rem;
        a {
          display: inline-grid;
          padding: 0.5rem;
          color: $color-secondary;
          font-size: 1.25rem;
          &::after {
            width: 50%;
            height: 0.2em;
            background-color: $color-secondary;
            opacity: 0.2;
            content: "";
            margin: 0 auto;
            transition: width ease-in-out 0.8s;
          }
          &:hover::after,
          &:focus::after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
    // }
  }
}
.search-mobile {
  display: none;
}

.menu-toggle {
  border: 1px solid $color-primary !important;
  border-radius: 0;
  background-color: $color-light;
  .fa {
    line-height: 21px;
  }
}

.menu-primary-menu-container {
  text-align: center;
  flex-grow: 100%;
  flex-basis: 100%;
  #primary-menu {
    justify-content: center;
  }
}

#searchform {
  .input-group {
    display: flex;
    align-items: center;
    input {
      background-color: transparent !important;
      border-radius: 0;
      border-right: none !important;
    }
    #s {
      border: 2px solid $color-primary;
      background-color: $color-background;
      padding: 5px 10px;
      &:hover {
        border: 2px dashed $color-primary;
      }
    }
    #searchsubmit {
      padding: 11px 15px;
      background-color: $color-secondary;
      color: $color-light;
      border: none;
      cursor: pointer;
    }
  }
}

// footer

.site-footer {
  background-color: $color-primary;
  color: $color-light;
  padding: 3rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-socials {
      display: flex;
      gap: 15px;
      a {
        padding: 3px 10px;
        background-color: $color-background;
        color: $color-secondary;
        box-shadow: 0.18em 0.18em #0275d8;
        &:hover {
          transform: translate(-0.15em, -0.15em);
          box-shadow: 0.3em 0.3em #0275d8;
        }
      }
    }
    .blockquote-footer {
      margin: 0;
      .fa-heart {
        color: #f44336;
      }
      a {
        color: $color-light;
        font-weight: 600;
        &:hover {
          letter-spacing: 3px;
        }
      }
    }
    .footer-mail {
      a {
        color: $color-light;
        &:hover {
          letter-spacing: 3px;
        }
      }
    }
  }
}

// sections
.container-title {
  display: flex;
  justify-content: center;
  .archive-title {
    span {
      @extend .title;
    }
  }
  .title {
    background-color: #0275d8;
    color: #f6f6f6;
    padding: 0.2em 0.3em;
    text-align: center;
    margin-bottom: 0.65em;
    font-size: $font-size-h3;
    font-size: clamp(2rem, 4vw, $font-size-h3);
    transition: padding 0.2s ease 0s;
    &:hover {
      padding: 0.25em 0.36em;
    }
  }
}

.container-desc {
  p {
    font-size: 1.3rem;
    margin-top: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
  }
}

#home-wrapper {
  margin-top: 0;
  padding: 4rem;
  background-color: $color-primary;
  color: $color-light;
  height: calc(100vh - 156px);
  .intro-p {
    margin: 0;
    font-size: 1.5rem;
  }
  .intro-h1 {
    font-size: $font-size-h1;
    margin: 0;
    margin-bottom: 1rem;
  }
  .name {
    color: $color-secondary;
    &:hover {
      letter-spacing: 5px;
    }
  }
  .intro-desc {
    font-size: 1.5rem;
  }
  .theme-btn {
    display: inline-block;
    background-color: $color-secondary;
    color: $color-light;
    font-size: $font-size-h3;
    padding: 15px 1.5em;
    box-shadow: 0.1em 0.1em $color-background;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translate(-0.15em, -0.15em);
      box-shadow: 0.3em 0.3em $color-background;
    }
  }
}

// recents

.project-container {
  display: flex;
  margin-top: 2rem;
  // flex-direction: column;
  gap: 2rem;
  .project {
    flex: 1;
    border: 5px solid $color-primary;
    &:hover {
      border: 5px dashed $color-primary;
    }
    .entry-content {
      margin: 0;
      display: flex;

      .project-img {
        padding: 1rem;
        overflow: hidden;
        cursor: pointer;
        img {
          transition: transform ease-in-out 0.3s;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
      .project-img,
      .project-content {
        flex: 1;
        border-bottom: 1px solid #e2e2e2;
      }
      .project-content {
        padding: 1rem 2rem;
        p {
          margin: 0 !important;
        }
        .theme-site {
          background-color: $color-secondary;
          color: $color-light;
          font-size: 12px;
          display: inline;
          padding: 5px;
        }
        .theme-title {
          display: flex;
          align-items: center;
          a {
            h1 {
              margin: 10px 0;
              margin-right: 10px;
              margin-top: 5px;
            }
          }
          p {
            color: #1a252a6c;
          }
        }
        .theme-desc {
          font-size: 1.2rem;
        }
        .theme-tags {
          margin: 10px 0;
          a {
            font-size: 16px;
            padding: 5px;

            &:hover {
              color: $color-light;
              text-decoration: none;
              background-color: $color-secondary;
            }
          }
        }
        .entry-title {
          margin-top: 0;
        }
        a {
          color: $color-primary;
          font-size: $font-size-h4;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .view-proj {
          font-size: 1rem;
          color: $color-light;
          background: $color-anchor;
          padding: 5px 8px;
          float: right;
          box-shadow: 0.18em 0.18em #0275d8;
          &:hover {
            transform: translate(-0.15em, -0.15em);
            box-shadow: 0.3em 0.3em #0275d8;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.page-project {
  flex-direction: column;
  align-items: center;
  .project {
    max-width: 1000px;
    width: 100%;
  }
}

.demo-link {
  background-color: $color-primary;
  color: $color-light;
  font-size: $font-size-h4;
  padding: 15px 1.5em;
  box-shadow: 0.1em 0.1em $color-secondary;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.3em 0.3em $color-secondary;
  }
}

.blogs-container {
  display: flex;
  gap: 1rem;
  .post {
    flex: 1;
    .entry-content {
      .blog-content {
        text-align: center;
        padding: 2rem;
        background-color: $color-secondary;
        color: $color-light;
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        .blog-desc {
          padding: 1rem;
          border: 1px solid $color-background;
          background-color: rgba($color-secondary, 0.7);
          a {
            font-size: 1rem;
            color: $color-light;
            text-decoration: none;
            font-weight: bold;
          }
          .the-link {
            font-weight: 600;
            color: $color-anchor;
            display: inline-grid;
            &::after {
              width: 50%;
              height: 0.2em;
              background-color: $color-anchor;
              opacity: 0.2;
              content: "";
              margin: 0 auto;
              transition: width ease-in-out 0.8s;
            }
            &:hover::after,
            &:focus::after {
              opacity: 1;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.view-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  .theme-btn {
    background-color: $color-primary;
    color: $color-light;
    font-size: $font-size-h4;
    padding: 15px 1.5em;
    box-shadow: 0.1em 0.1em $color-secondary;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    .fa-star-of-life {
      margin-left: 5px;
    }
    &:hover {
      transform: translate(-0.15em, -0.15em);
      box-shadow: 0.3em 0.3em $color-secondary;
    }
  }
}

.credit {
  background-color: $color-background;
  color: $color-text;
  text-align: center;
  padding: 3px;
  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }
  a {
    color: $color-anchor;
  }
}

// pages

.page-title {
  h2 {
    margin: 0;
  }
}

.page {
  margin: 0;
}

.blogs-page {
  display: flex;
  gap: 5rem;
  justify-content: center;
  .blogs-wrapper-page {
    flex-direction: column !important;
    align-items: center;
    .post {
      max-width: 650px;
      width: 100%;
    }
  }
}

.contact-form-container {
  display: flex;
  justify-content: center;
  .wpcf7 {
    border: 5px dashed $color-primary;
    padding: 2rem;
    max-width: 650px;
    width: 100%;
    .wpcf7-form {
      p:nth-of-type(4) {
        text-align: end;
      }
      .wpcf7-form-control-wrap {
        input,
        textarea {
          padding: 15px 10px;
          border: 2px solid $color-primary;
          box-shadow: 0.5em 0.5em $color-secondary;
          resize: none;
          &:focus {
            box-shadow: 0.3em 0.3em $color-secondary;
          }
        }
      }
    }
  }
  .wpcf7-submit {
    background-color: $color-primary;
    color: $color-light;
    font-size: $font-size-h4;
    padding: 15px 1.5em;
    box-shadow: 0.1em 0.1em $color-secondary;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: translate(-0.15em, -0.15em);
      box-shadow: 0.3em 0.3em $color-secondary;
    }
  }
}

// single post

.single-post-wrapper {
  .container {
    .post {
      .entry-header {
        .entry-title {
          color: $color-primary;
          font-size: $font-size-h3;
          font-size: clamp(2rem, 7vw, $font-size-h3);
          padding: 2rem 0.8em;
          border: 0.12em solid $color-primary;
          text-decoration: none;
          box-shadow: 0.1em 0.1em $color-secondary;
          place-content: center;
          text-align: center;
        }
        .entry-footer {
          font-size: 1.2rem;
          .cat-links {
            color: $color-text;
            a {
              font-weight: 500;
              color: $color-anchor;
              text-decoration: none;
              padding: 3px;
              &:hover {
                color: $color-light;
                background-color: $color-secondary;
              }
            }
          }
        }
        .entry-meta {
          font-size: 1rem;
          color: $color-text;
          a {
            font-weight: 500;
            color: $color-anchor;
            text-decoration: none;
            padding: 3px;
            &:hover {
              color: $color-light;
              background-color: $color-secondary;
            }
          }
        }
      }
      .entry-content {
        max-width: 950px;
        width: 100%;
        margin: 2.5rem auto;
        padding: 2rem;
        border: 4px dashed $color-primary;
        p {
          font-size: $font-size-text;
        }
      }
    }
  }
}

.related-title {
  color: #1a252a;
  padding: 0.2em 0.3em;
  margin-bottom: 0.65em;
  font-size: 2rem;
  font-size: clamp(2rem, 4vw, 2rem);
  transition: padding 0.2s ease 0s;
}

.related-blog {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.related-blog-block {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 2rem;
  background-color: $color-secondary;
  border: 1px solid $color-background;
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  a {
    color: $color-light;
    text-decoration: none;
    .blog-inner {
      border: 1px solid $color-background;
    }
  }
}

// single project

.single-project-wrapper {
  .project {
    .entry-header {
      display: flex;
      align-items: center;
      gap: 10px;
      .entry-title {
        font-size: $font-size-h1;
        font-size: clamp(2rem, 7vw, $font-size-h1);
        margin: 0;
        margin-right: 10px;
      }
      .theme-site {
        background-color: $color-secondary;
        color: $color-light;
        font-size: 12px;
        display: inline;
        padding: 5px;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .post-thumbnail {
      border: 2px solid $color-primary;
      box-shadow: 0.8em 0.8em rgba($color-secondary, 0.5);
    }
    .btn-links {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 2.5rem;
      a {
        font-size: 1.1rem;
        display: block;
        color: $color-light !important;
      }
    }
    .entry-content {
      max-width: 950px;
      width: 100%;
      margin: 2.5rem auto;
      padding: 2rem;
      border: 4px dashed $color-primary;
      .entry-block {
        scroll-margin-top: 5rem;
        &:not(:first-of-type) {
          margin: 2rem 0;
        }
        .project-navigation {
          h2 {
            margin: 0;
            display: inline-block;
            background-color: $color-secondary;
            color: #f6f6f6;
            padding: 0.2em 0.3em;
            text-align: center;
            margin-bottom: 0.65em;
            font-size: 2rem;
            font-size: clamp(1rem, 4vw, 2rem);
            transition: padding 0.2s ease 0s;
            &:hover {
              padding: 0.25em 0.36em;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            padding-inline-start: 2rem;
            li {
              &::marker {
                font-size: 1.2rem;
                color: $color-anchor;
              }
              a {
                text-decoration: none;
                display: inline-grid;
                padding: 0.5rem;
                color: $color-secondary;
                font-size: 1.25rem;
                &::after {
                  width: 50%;
                  height: 0.2em;
                  background-color: $color-secondary;
                  opacity: 0.2;
                  content: "";
                  margin: 0 auto;
                  transition: width ease-in-out 0.8s;
                }
                &:hover::after,
                &:focus::after {
                  opacity: 1;
                  width: 100%;
                }
              }
            }
          }
        }
        .design-img {
          margin: 2rem 0;
        }
      }
      .directory-structure {
        p {
          display: block;
          width: 100%;
          line-height: 1.2rem;
          font-family: monospace;
          background: $color-primary;
          color: $color-light;
          padding: 1.5rem;
          font-size: 14px;
          max-height: 500px;
          overflow-y: scroll;
          border-left: 5px solid $color-secondary;
        }
      }
      .entry-desc {
        font-size: 1.5rem;
        margin: 0;
      }
      .theme-tags {
        margin: 10px 0;
        font-size: 1.15rem;
        a {
          padding: 5px;
          color: $color-text;
          text-decoration: none;
          &:hover {
            color: $color-light;
            text-decoration: none;
            background-color: $color-secondary;
          }
        }
      }
      p {
        font-size: $font-size-text;
        display: flex;
        gap: 1rem;
        a {
          img {
            padding: 10px;
            &:hover {
              border: 2px dashed $color-primary;
            }
          }
        }
      }
    }
  }
}

.about-info {
  font-size: 1.2rem;
  .about-header {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 1rem;
    span {
      color: $color-secondary;
      font-weight: 600;
    }
  }
  .about-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: inline-grid;
    &::after {
      width: 100%;
      height: 0.1em;
      background-color: $color-secondary;
      content: "";
      margin: 0 auto;
    }
  }
  .about-desc {
    max-width: 1100px;
    width: 100%;
    line-height: 2rem;
    padding-inline-start: 1rem;
    &:nth-of-type(3) {
      background: #f1f1f1;
      padding: 1.5rem;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background-color: rgba($color-secondary, 0.5);
        position: absolute;
        left: 0;
        border-radius: 30px;
        top: 0;
      }
    }
    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $color-secondary;
      border-radius: 15px;
    }
    span {
      color: $color-secondary;
    }
    i {
      color: #676767;
    }
    a {
      color: $color-anchor;
    }
    .now-im-motivated {
      color: #676767;
      font-size: 15px;
      display: block;
      text-align: end;
    }
  }
  .about-skills {
    margin: 0;
    li {
      width: max-content;
      font-size: 1.2rem;
      list-style: none;
      padding: 5px;
      padding-inline-start: 1ch;
      &:hover {
        color: $color-light;
        text-decoration: none;
        background-color: $color-secondary;
      }
      &::marker {
        content: "👉";
      }
    }
  }
}

.about-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  a {
    padding: 10px 1rem;
    background-color: $color-background;
    color: $color-anchor;
    box-shadow: 0.18em 0.18em #0275d8;
    text-decoration: none;
    &:hover {
      transform: translate(-0.15em, -0.15em);
      box-shadow: 0.3em 0.3em #0275d8;
    }
    i {
      color: $color-anchor;
      font-weight: 500;
    }
  }
}

.search-page-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    align-self: flex-start;
    h4 {
      font-size: $font-size-text;
      font-weight: 400;
    }
  }

  article {
    max-width: 650px;
    width: 100%;
    border-bottom: 1px solid $color-anchor;
    padding: 1.5rem 0;
    margin: 0;
    header {
      h2 {
        margin-top: 0;
        a {
          color: #292b2c;
          font-size: 1.35rem;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .entry-meta {
      color: $color-text;
      a {
        font-weight: 500;
        color: $color-anchor;
        text-decoration: none;
        padding: 3px;
        &:hover {
          color: $color-light;
          background-color: $color-secondary;
        }
      }
    }
    .post-thumbnail {
      img {
        border: 2px solid $color-primary;
        box-shadow: 0.8em 0.8em rgba($color-secondary, 0.5);
      }
    }
    .entry-summary {
      margin: 0;
      p {
        margin: 10px 0;
      }
    }
    .entry-footer {
      .cat-links {
        color: $color-text;
        a {
          font-weight: 500;
          color: $color-anchor;
          text-decoration: none;
          padding: 3px;
          &:hover {
            color: $color-light;
            background-color: $color-secondary;
          }
        }
      }
    }
  }
}

.sidebar {
  padding: 10px 3rem;
  border: 1px solid #e2e2e2;
  width: min-content;
  height: min-content;
}
.widget-area {
  .widget {
    .widget-title {
      display: inline-grid;
      padding: 0.5rem;
      font-size: 1.25rem;
      &::after {
        width: 100%;
        height: 0.1em;
        background-color: $color-secondary;
        content: "";
        margin: 0 auto;
      }
    }
    ul {
      margin: 0;
      li {
        list-style: none;
        padding: 5px;
        padding-inline-start: 1ch;
        &::marker {
          content: "👉";
        }
        a {
          text-decoration: none;
          color: #292b2c;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.blogs-pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 1.25rem;
  .page-numbers {
    color: rgba($color-secondary, 0.5);
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      color: $color-secondary;
    }
  }
  .current {
    color: $color-light;
    background-color: $color-secondary;
    &:hover {
      color: $color-light;
    }
  }
}

.single-blog-pagination {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  .prev-link,
  .next-link {
    font-size: 1.25rem;
    a {
      text-decoration: none;
      color: $color-secondary;
    }
    .fa {
      margin-right: 1rem;
      &:last-of-type {
        margin-left: 1rem;
      }
    }
    &:hover {
      .fa {
        padding-right: 1rem;
        &:last-of-type {
          padding-left: 1rem;
        }
      }
    }
    .fa {
      transition: 0.3s ease-in-out;
    }
  }
}

.single-pagination {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  .next {
    text-align: right;
  }
  .prev,
  .next {
    p {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 500;
      &::after {
        display: block;
        width: 100%;
        height: 0.1em;
        background-color: $color-secondary;
        content: "";
        margin: 0 auto;
      }
    }
    a {
      position: relative;
      display: block;
      color: $color-light;
      &:hover {
        img {
          opacity: 1;
          filter: blur(0);
        }
        .prev-link {
          opacity: 1;
          .fa {
            padding-right: 1.5rem;
          }
        }
        .next-link {
          opacity: 1;
          .fa {
            padding-left: 1.5rem;
          }
        }
      }
      .prev-link,
      .next-link {
        border-radius: $border-radius;
        opacity: 0.9;
        font-size: 1.25rem;
        color: $color-light;
        background-color: $color-primary;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h4 {
          margin: 0;
        }
        .fa {
          transition: 0.3s ease-in-out;
        }
      }
      .next-link {
        left: 70%;
      }
      img {
        transition: ease-in-out 0.3s;
        opacity: 0.8;
        max-width: 400px;
        filter: blur(1px);
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.error-404 {
  text-align: center;
  h1 {
    display: inline-block;
    font-size: clamp(2rem, 7vw, $font-size-h1);
    color: $color-primary;
    padding: 5px 0.8em;
    border: 0.12em solid $color-primary;
    text-decoration: none;
    box-shadow: 0.1em 0.1em $color-secondary;
    place-content: center;
    letter-spacing: 3px;
  }
  h2 {
    font-size: clamp(1.6rem, 4vw, $font-size-h2);
    text-align: center;
    max-width: 30ch;
    font-weight: 500;
    margin: 0 auto;
  }
  .menu-primary-menu-container {
    margin: 2rem 0;
    #primary-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      margin-left: 0;
      @media (max-width: 992px) {
        justify-content: center !important;
      }
      .current-menu-item {
        a {
          display: inline-grid;
          &::after {
            width: 100% !important;
            height: 0.2em;
            background-color: $color-secondary;
            opacity: 1 !important;
            content: "";
            margin: 0 auto;
          }
        }
      }
      .menu-item {
        margin: 0.8rem;
        list-style-type: none;
        a {
          text-decoration: none;
          display: inline-grid;
          padding: 0.5rem;
          color: $color-secondary;
          font-size: 1.25rem;
          &::after {
            width: 50%;
            height: 0.2em;
            background-color: $color-secondary;
            opacity: 0.2;
            content: "";
            margin: 0 auto;
            transition: width ease-in-out 0.8s;
          }
          &:hover::after,
          &:focus::after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }
  .input-group {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.tools-used {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
    li {
      a {
        color: $color-secondary;
        margin: 0.25em;
        padding: 0.25em 0.5em;
        text-decoration: none;
        font-size: $font-size-text;
        &:hover {
          background-color: $color-secondary;
          color: $color-light;
        }
      }
    }
  }
}

.posts-navigation {
  .nav-links {
    .nav-next,
    .nav-previous {
      list-style-type: none;
      a {
        text-decoration: none;
        display: inline-grid;
        padding: 0.5rem;
        color: $color-secondary;
        font-size: 1.25rem;
        &::after {
          width: 50%;
          height: 0.2em;
          background-color: $color-secondary;
          opacity: 0.2;
          content: "";
          margin: 0 auto;
          transition: width ease-in-out 0.8s;
        }
        &:hover::after,
        &:focus::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}

@import "responsive";
